
body {
    font-family: Arial, sans-serif;
    background-color: #ff0909;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    
}

h2 {
    color: #049bff;
    margin-top: 50px;
    
}

h3 {
    color: #000000;
    margin-top: 50px;
    
}
p {
    color: #04ff04;
}
